body{
    background-image: url("https://uploads-ssl.webflow.com/5a9423a3f702750001758d4f/5e4699ca314e56ae3a14659e_color-names-p-1600.png");
}

.chat-online {
    background: rgba(255, 255, 255, 0.);
    color: #34ce57
}

#chat-window{
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}